# Supabase Configuration
VITE_SUPABASE_URL=https://yfathgpgbxalleuzyfln.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlmYXRoZ3BnYnhhbGxldXp5ZmxuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE3NjI2MzQsImV4cCI6MjA3NzMzODYzNH0.AolDcE7yKXS6KTjD-G1wYmLtK0OtTNP5uErKte-NqPk